body {
    margin: 0;
    font-family: Arial;
}

nav {
    position: fixed;
    width: 100%;
    background: #333;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.page {
    display: none;
    padding: 100px 20px;
}

.page.active {
    display: block;
}

.servico {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
}

#total-container {
    background: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.btn-pagar {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}