body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111; /* fundo preto */
  color: #fff;
}

.hero {
  background: linear-gradient(135deg, #ffcc00, #ff6600); /* amarelo e laranja */
  padding: 150px 20px;
  text-align: center;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
}

.hero p {
  font-size: 20px;
  margin: 20px 0;
}

.btn {
  background-color: #000; /* botão preto */
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  margin-top: 20px;
}

.section {
  padding: 60px 20px;
  text-align: center}